<div id="sign-in-container" class="container">
  <br>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2 class="text-center">Bienvenido a Yupi</h2>
      <br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#step-1" aria-controls="home" role="tab" data-toggle="tab">Paso 1</a></li>
          <li role="presentation"><a href="#step-2" aria-controls="profile" role="tab" data-toggle="tab">Paso 2</a></li>
          <li role="presentation"><a href="#step-3" aria-controls="messages" role="tab" data-toggle="tab">Paso 3</a></li>
        </ul>

        <br>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="step-1">
            <div class="form-inputs">
              <%= f.input :first_name, required: true, autofocus: true, label: "Nombre(s)" %>
              <%= f.input :last_name, required: true, label: "Apellidos" %>
              <%= f.input :email, required: true, label: "Email" %>
              <%= f.input :phone_number, required: true, label: "Número Celular" %>
              <%= f.input :password, required: true, label: "Contraseña", hint: ("#{@minimum_password_length} caractéres mínimo" if @minimum_password_length) %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-2">
            <div class="form-inputs">
              <%= f.input :birthdate, start_year: Date.today.year - 60, end_year: Date.today.year, required: true, label: "Fecha de Nacimiento" %>
              <%= f.input :gender, collection: User::GENDER_OPTIONS.sort.map {|k,v| [v,k]}, required: true, label: "Sexo" %>
              <%= f.input :id_type, required: true, collection: User::ID_OPTIONS.sort.map {|k,v| [v,k]}, required: true, label: "Tipo de ID" %>
              <%= f.input :id_number, required: true, label: "Número de Identificación" %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step-3">
            <div class="form-inputs">
              <%= f.input :address_street, required: true, label: "Calle" %>
              <%= f.input :address_number, required: true, label: "Número" %>
              <%= f.input :address_city, required: true, label: "Ciudad" %>
              <%= f.input :address_zip_code, required: true, label: "Código Postal" %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Enviar", class: "btn-success btn-fill" %>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <hr>
      <p class="text-center">¿Ya tiener cuenta? <%= render "devise/shared/links" %></p>
    </div>
  </div>
</div>
