<!DOCTYPE html>
<html>
<head>
  <title>Yupi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/home_navigation' %>

<% if flash[:notice] %>
  <div id="alert" class="alert alert-success alert-dismissible" role="alert">
    <div class="container">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><%= notice %></p>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div id="alert" class="alert alert-danger alert-dismissible" role="alert">
    <div class="container">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>

<div id="home-container">
  <%= yield %>
</div>

</body>
</html>
